[Desktop Entry]
Categories=Development;
Exec=jetbrains-toolbox
GenericName=Jetbrains Toolbox
Icon=com.jetbrains.Toolbox
Keywords=development;ide;
Name=Jetbrains Toolbox
StartupNotify=true
StartupWMClass=jetbrains-toolbox
Terminal=false
Type=Application